# Texts
*.gd   text eol=lf
*.ts   text eol=lf
*.cs   text eol=lf
*.json text eol=lf
*.cfg  text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.import text eol=lf

# Binaries
*.png    binary
*.ogg    binary
*.wav    binary
*.res    binary